.game-map {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  border: 2px solid black;
  width: 520px;
  height: 520px;
}

.map-cell {
  width: 50px;
  height: 50px;
  border: 1px solid lightgray;
}

.player {
  background-color: blue;
}

.treasure {
  background-color: gold;
}

.monster {
  background-color: red;
}
.image-container {
  position: absolute;
  margin-top: 525px;
}
.movement-log {
  position: absolute;
  margin-left: 300px;
}
